<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Livorno a Domicilio</title>
	<meta name="description" content="Tutte le aziende che effettuano consegne a domicilio in provincia di Livorno">
	<link rel="icon" type="image/png" href="/assets/favicon_livornoadomicilio_640x640px.png">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta property="og:url" content="https://livornoadomicilio.it">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Livorno a Domicilio">
	<meta property="og:description"
		content="Tutte le aziende che effettuano consegne a domicilio in provincia di Livorno">
	<meta property="og:image" content="/assets/og_livornodomicilio.png">
	<script src="https://www.google.com/recaptcha/api.js?render=6LdI4-cUAAAAAFOtyiS3QHi-IxAH_HXq6xtiYJZg"></script>
	<script>
		let captchatoken;
		grecaptcha.ready(function () {
			grecaptcha.execute('6LdI4-cUAAAAAFOtyiS3QHi-IxAH_HXq6xtiYJZg', {
				action: 'homepage'
			}).then(function (token) {
				captchatoken = token
			});
		});
	</script>
	<% preact.headEnd %>
</head>

<body style="overflow: var(--popup-visible, initial);">
	<% preact.bodyEnd %>
</body>

</html>