<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Livorno a Domicilio</title>
	<meta name="description" content="Tutte le aziende che effettuano consegne a domicilio in provincia di Livorno">
	<link rel="icon" type="image/png" href="/assets/favicon_livornoadomicilio_640x640px.png">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta property="og:url" content="https://livornoadomicilio.it">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Livorno a Domicilio">
	<meta property="og:description"
		content="Tutte le aziende che effettuano consegne a domicilio in provincia di Livorno">
	<meta property="og:image" content="/assets/og_livornodomicilio.png">
	<% preact.headEnd %>
</head>

<body style="overflow: var(--popup-visible, initial);">
	<% preact.bodyEnd %>
</body>

</html>